#include <winver.h>
#include <cygwin/version.h>

#define STRINGIFY1(x) #x
#define STRINGIFY(x) STRINGIFY1(x)

#define DLL_NAME DLL_VERSION_IDENTIFIER STRINGIFY(.dll)

#define REGISTRY_KEY REGISTRY_PROJECT_NAME "\\" \
		     REGISTRY_PACKAGE_NAME

#define DLL_API_VERSION STRINGIFY(DLL_VERSION_API_MAJOR) "." \
			  STRINGIFY(DLL_VERSION_API_MINOR)

#define DLL_BUILD_DATE_TIME	STRINGIFY(DLL_BUILD_DATE) " " \
				STRINGIFY(DLL_BUILD_TIME)

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    DLL_VERSION_MAJOR,DLL_VERSION_MINOR,0,0
  PRODUCTVERSION DLL_VERSION_MAJOR,DLL_VERSION_MINOR,0,0
  FILEFLAGSMASK  0x3fL
#ifdef DEBUGGING
  FILEFLAGS      VS_FF_DEBUG
#else
  FILEFLAGS      0x0L
#endif
  FILEOS         VOS__WINDOWS32
  FILETYPE       VFT_DLL
  FILESUBTYPE    0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "SourceForge.Net"
      VALUE "FileDescription", "MSYS\256 POSIX Emulation DLL"
      VALUE "FileVersion", STRINGIFY(DLL_VERSION)
      VALUE "InternalName", DLL_NAME
      VALUE "LegalCopyright", "Copyright \251 - see the file MSYS_COPYRIGHT"
      VALUE "OriginalFilename", DLL_NAME
      VALUE "ProductName", "MSYS"
      VALUE "ProductVersion", STRINGIFY(DLL_VERSION)
      VALUE "APIVersion", DLL_API_VERSION
      VALUE "SharedMemoryVersion", STRINGIFY(DLL_VERSION_SHARED_DATA)
      VALUE "RegistryKey", REGISTRY_KEY
      VALUE "BuildDate", DLL_BUILD_DATE_TIME
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x409, 1200
  END
END
