/msys.blobs
/msys.dump
/cvsclone/catgets
/cvsclone/CVSROOT
/cvsclone/doc
/cvsclone/htdocs
/cvsclone/man
/cvsclone/MinGW
/cvsclone/mingw-get
/cvsclone/msys
/cvsclone/portmaker
/cvsclone/ports
/cvsclone/regex
/cvsclone/runtime
/cvsclone/scripts
/cvsclone/utils
/cvsclone/w32api
/cvsclone/xscripts
/cvsclone/out.*
/out.*
