
#ifndef _WIN32_IE
#	define _WIN32_IE 0x0400
#endif

#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "resource.h"


CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mingw-get.manifest"


IDB_TBBUTTONS BITMAP "tbbuttons.bmp"
IDB_STATES BITMAP "buttons.bmp"


IDA_MAINACCEL ACCELERATORS 
BEGIN 
    "I", IDM_FILE_CHANGEINST, CONTROL, ALT, VIRTKEY
    "A", IDM_EDIT_APPLY, CONTROL, VIRTKEY
    "P", IDM_EDIT_PREFERENCES, CONTROL, SHIFT, VIRTKEY
    "U", IDM_SOURCES_UPDATELISTS, CONTROL, VIRTKEY
    "R", IDM_SOURCES_REPOSITORIES, CONTROL, SHIFT, VIRTKEY
END


IDM_MAINMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "Select &installation...\tCtrl+Alt+I", IDM_FILE_CHANGEINST
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", IDM_FILE_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Apply all changes\tCtrl+A", IDM_EDIT_APPLY
		MENUITEM SEPARATOR
		MENUITEM "&Preferences...\tCtrl+Shift+P", IDM_EDIT_PREFERENCES
	END
	POPUP "Sour&ces"
	BEGIN
		MENUITEM "&Update lists\tCtrl+U", IDM_SOURCES_UPDATELISTS
		MENUITEM SEPARATOR
		MENUITEM "&Repositories...\tCtrl+Shift+R", IDM_SOURCES_REPOSITORIES
	END
END


IDD_MAINDLG DIALOGEX 0, 0, 500, 300
CAPTION "mingw-get"
FONT 8, "MS Shell Dlg"
MENU IDM_MAINMENU
STYLE DS_CENTER|WS_SYSMENU|WS_SIZEBOX|WS_MINIMIZEBOX|WS_MAXIMIZEBOX
BEGIN
	CONTROL "", IDC_MAINTOOLBAR, TOOLBARCLASSNAME, TBSTYLE_WRAPABLE, 0, 0, 0, 0
	COMBOBOX IDC_CATTYPE, 0, 28, 100, 271, CBS_DROPDOWNLIST|WS_TABSTOP
	/* LISTBOX IDC_CATLIST, 0, 43, 100, 241, WS_BORDER|WS_VSCROLL|LBS_NOTIFY|LBS_NOINTEGRALHEIGHT|WS_TABSTOP */
	CONTROL "", IDC_CATLIST, WC_TREEVIEW, WS_BORDER|WS_CHILD|WS_VISIBLE| \
	 WS_CLIPSIBLINGS|WS_TABSTOP|WS_VSCROLL|TVS_DISABLEDRAGDROP|TVS_HASBUTTONS| \
	 TVS_HASLINES|TVS_LINESATROOT, 0, 43, 100, 241
	CONTROL "", IDC_VERTSASH, SASHWND_VERT_CLASSNAME, WS_CHILD|WS_CLIPSIBLINGS|WS_VISIBLE, 101, 0, 4, 300
	CONTROL "", IDC_COMPLIST, WC_LISTVIEW, WS_BORDER|LVS_REPORT|LVS_SHOWSELALWAYS|LVS_SINGLESEL|WS_TABSTOP, 105, 28, 393, 128
	CONTROL "", IDC_HORZSASH, SASHWND_HORZ_CLASSNAME, WS_CHILD|WS_CLIPSIBLINGS|WS_VISIBLE, 105, 156, 395, 8
	LTEXT "", IDC_DESCTITLE, 105, 157, 169, 10
	LTEXT "Version to install:", IDC_VTITEXT, 276, 105, 55, 8
	COMBOBOX IDC_INSTVERSION, 378, 157, 120, 100, CBS_DROPDOWNLIST|WS_TABSTOP|WS_DISABLED
	EDITTEXT IDC_FULLDESC, 105, 169, 391, 116, ES_LEFT|ES_MULTILINE|ES_AUTOVSCROLL|ES_READONLY|WS_BORDER|WS_TABSTOP
	CONTROL "", IDC_STATBAR, STATUSCLASSNAME, SBT_TOOLTIPS, 0, 0, 0, 0
END


IDD_INSTSEL DIALOGEX 0, 0, 250, 132
CAPTION "Select Installation Path"
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER|WS_SIZEBOX
BEGIN
	AUTOCHECKBOX "Manage an existing installation", IDC_EXISTMANAGE, 4, 4, 242, 8
	LISTBOX IDC_PREVINSTLIST, 14, 16, 203, 54, WS_BORDER|WS_VSCROLL|LBS_NOINTEGRALHEIGHT|WS_TABSTOP
	GROUPBOX "Installation Path", IDC_STATIC, 10, 76, 230, 32
	EDITTEXT IDC_INSTPATH, 14, 84, 203, 12
	PUSHBUTTON "...", IDC_BROWSENEWINST, 219, 84, 16, 12
	LTEXT "Please enter an installation path", IDC_VALTEXT, 16, 98, 199, 8
	DEFPUSHBUTTON "&OK", IDOK, 72, 114, 50, 14
	PUSHBUTTON "&Cancel", IDCANCEL, 128, 114, 50, 14
END


IDD_PROGRESSDLG DIALOGEX 0, 0, 300, 45
CAPTION "Caption"
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER|WS_SIZEBOX
BEGIN
	GROUPBOX "Status", IDC_STATUSGRP, 4, 4, 292, 20
	LTEXT "", IDC_ACTIONTEXT, 8, 12, 284, 8
	LISTBOX IDC_ACTIONLIST, 8, 12, 284, 113, WS_BORDER|WS_VSCROLL|LBS_NOINTEGRALHEIGHT|WS_TABSTOP
	PUSHBUTTON "&Cancel", IDC_PROGRESSEND, 125, 28, 50, 14
	PUSHBUTTON "Show &Details", IDC_SHOWDETAILS, 3, 28, 50, 14
END


IDD_EDITREPOS DIALOGEX 0, 0, 300, 150
CAPTION "Repositories"
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER|WS_SIZEBOX
BEGIN
	DEFPUSHBUTTON "&OK", IDOK, 125, 132, 50, 14
END
