BODY { color: black; background-color: white; }

H1 { text-align: center; }

OL { margin-top: 1em; margin-bottom: 1em;  }
OL.alpha { list-style-type: upper-alpha; }
OL.romanum { list-style-type: lower-roman; }

SPAN.bold { font-weight: bold; }

TABLE { width: 100%; text-align: left; }
TABLE.prim { padding: 8px; }
TABLE.sec { padding: 6px; }

TD { vertical-align: top; }
TD.side { background-color: rgb( 238, 238, 238 ); width: 10%; }
TD.news { background-color: grey; width: 25%; }

UL { margin-bottom: 1em; }
