BODY { color: black; background-color: white; }

H1 { text-align: center; }

OL { margin-top: 1cm; margin-bottom: 1cm;  }
OL.alpha { list-style-type: upper-alpha; }
OL.romanum { list-style-type: lower-roman; }

P.centre { text-align: center; }
P.sm { font-size: small; text-align: center; }

SPAN.bold { font-weight: bold; }

TABLE { width: 100%; text-align: left; }
TABLE.prim { padding: 1cm; }
TABLE.sec { padding: 1cm; }

TD { vertical-align: top; }
TD.side { background-color: rgb( 238, 238, 238 ); width: 10%; }
TD.news { background-color: rgb( 238, 238, 238 ); width: 25%; }

UL { margin-bottom: 1cm; }
