html {
	font-size: small;
}
body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	}

h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:18px;
	line-height:28px;
	font-weight:900;
	color:#999;
	text-align:center;
	}

h2 {
	font:bold 12px/14px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 5px 0px;
	padding:0px;
	}

p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#0ff;}

.content {
	position:relative;
	width:auto;
	min-width:120px;
	margin:0px 170px 10px 170px;
	border:1px solid black;
	background-color:white;
	padding:10px;
	z-index:3;
	text-align:justify;
	}

#Header {
	margin:10px 0px 10px 0px;
	padding:3px 0px 3px 20px;
	height:33px;
	border-style:solid;
	border-color:black;
	border-width:1px 0px;
	line-height:normal;
	background-color:#eee;
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px;
	font-size:11px;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
body>#Header {height:14px;}

#Footer {
	margin:20px 0px 10px 0px;
	padding:2px 0px 2px 20px;
	height:33px;
	border-style:solid;
	border-color:black;
	border-width:1px 0px;
	line-height:normal;
	background-color:#eee;
	voice-family: "\"}\"";
	voice-family:inherit;
	font-size:11px;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	height:26px;
	vertical-align:middle;
	text-align:center;
	}
body>#Footer {height:26px;}

#MenuCW {
	position:absolute;
	top:300px;
	left:10px;
	width:172px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;
	z-index:3;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
body>#MenuCW {width:128px;}

#LSide {
	position:absolute;
	top:100px;
	left:10px;
	width:172px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;
	z-index:2;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
body>#LSide {width:128px;}

#RSide {
	position:absolute;
	top:100px;
	right:10px;
	width: 172px;
	border:1px dashed #999;
	background-color:#eee;
	padding:10px;
	z-index:1;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
body>#RSide {width: 128px;}

.bold { font-weight: bold; }

ul#Menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
